.event-form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2b2a2a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.createEventPage input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
  height: 100px;
}

.answers-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.answers-container input {
  width: calc(25% - 10px);
}

.equation-container {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}
.createEventPage input,textarea,select,option{
    background-color: transparent !important;
    color: white !important;
}
