.wrong-answer {
  color: red;
}

.wrong-text {
  color: red;
  font-weight: bold;
}
.score-container{
    width: 65%;
    margin: 14px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -10px white;
}

@media(max-width:900px){
    .score-container{
        width: 100%;
    }
}